extends ../layout

block header-custom
  link(rel='stylesheet', href='/stylesheets/projects.css')

block content
  div(class="main")
    div(class="header")
      div(style="margin-top: 20px")
        a(href="/projects") < BACK
      h1(style="margin-bottom: 0px")= project.title
      if (project.data)
        div(class="project-data")
          div(class="left secret")
            if (project.data.type)
              p
                span Project type
            if (project.data.genre)
              p
                span Genre
            if (project.data.platform)
              p
                span Platform
            if (project.data.year)
              p
                span Year
          div(class="right")
            if (project.data.type)
              p
                span= project.data.type
            if (project.data.genre)
              p
                span= project.data.genre
            if (project.data.platform)
              p
                span= project.data.platform
            if (project.data.year)
              p
                span= project.data.year
    div(id="details")
      div(class="separator")
      div(class="separator")

      h2 Get it: 
      h3
        a(href="https://www.etsy.com/shop/crljmb?section_id=44562004" target="_blank") etsy
        |  | 
        a(href="https://www.radiatorcomics.com/series/homebound/" target="_blank") radiator comics
        |  | 
        a(href="/files/homebound-1-web.pdf#view=fit") online sample
      div(class="separator")

      if (pages && pages.length > 0)
        div(class="images")
          ul(class="images")
            li(style="writing-mode: vertical-lr; text-orientation: mixed; vertical-align: middle") ↑ (scroll me!) ↑
            each page in pages
              a(href=page target="_blank")
                li
                  img(src= page)
        div(class="separator")

      h2 About
      p Follow the story of Ona, an 18-month toddler stuck with three strangers: a talking lizard, his human sister and a space traveler.
      p Together, they embark on a road trip full of comedy, action and slice-of-life scenes across a cozy yet mysterious planet, on a journey to find the baby's home.
      div(class="separator")

      h2 Contact:
      p
        a(href="https://www.instagram.com/crljmb/") instagram
        |  | 
        a(href="https://twitter.com/crljmb") twitter
        |  |  
        a(href="https://crljmb.tumblr.com/") tumblr
        |  |  
        a(href="mailto:crljmb@outlook.com") email
      div(class="separator")

      if (progress)
        h2 Some behind the scenes
            div(class="images")
                ul(class="images")
                  each image in progress
                    a(href=image target="_blank")
                      li
                        img(src= image)
        div(class="separator")

      h2 Credits
      each person, role in project.credits
        h4= role
        p!= person
      h4 Special thanks
      table(class="credits")
        tr
          td Rafa
          td Christine
          td Donna
          td Robin
        tr
          td Johanna
          td Sarah
          td Mitch
          td Mira
        tr
          td Pablo
          td Mom & dad
          td Millie
          td Sam
        tr
          td Jarien
          td Liz
          td Ali
          td Alyssa
        tr
          td Britt
          td Vicki
          td Daniele
          td John G
        tr
          td Pferv
          td Miguel
          td João
          td Emanuela
        tr
          td Alberto
          td Iván
          td Juan
          td Andrea
        tr
          td Dan
          td UPS Dave
          td Sergio
          td Ana
        tr
          td Rocío
          td Jesús
          td Diego
          td Yolanda
        tr
          td Jorge
          td Leticia
          td Belén
          td Antonio
        tr
          td Dustin
          td Campbell
          td Ekin
          td Esteban
        tr
          td Ben
          td Eli
          td Jacob
          td Noreen
        tr
          td Susan
          td John P
          td Rachael
          td Callista
        tr
          td Felicia
          td Greg
          td Vitya
          td Brandon
        tr
          td Philip M
          td Philip H
          td Kip
          td John N
        tr
          td Luli
          td Gideon
          td Romita
          td Sam
        tr
          td Jess
          td Scott
          td Amber
          td Chris
        tr
          td Molli
          td Michael
          td Matthew 
          td Megan 
        tr
          td MICE 
          td Radiator Comics
          td Adj
          td and Half of Boston
