extends ../layout

block header-custom
  link(rel='stylesheet', href='/stylesheets/projects.css')

block content
  div(class="main")
    div(class="header")
      div(style="margin-top: 20px")
        a(href="/projects") < BACK
      h1(style="margin-bottom: 0px")= project.title
      if (project.data)
        div(class="project-data")
          div(class="left secret")
            if (project.data.type)
              p
                span Project type
            if (project.data.genre)
              p
                span Genre
            if (project.data.platform)
              p
                span Platform
            if (project.data.year)
              p
                span Year
          div(class="right")
            if (project.data.type)
              p
                span= project.data.type
            if (project.data.genre)
              p
                span= project.data.genre
            if (project.data.platform)
              p
                span= project.data.platform
            if (project.data.year)
              p
                span= project.data.year
    div(class="separator")
    if (project.getit)
      h2 Get it!
      p Homebound is currently being released in an episodic format through any of the following methods:
      p Physical copy: 
        a(href="https://www.etsy.com/shop/crljmb?section_id=44562004") etsy
      p Digital copy: 
        a(href="https://itch.io/c/3574107/homebound-a-graphic-novel") itch.io
      p Direct message: 
        a(href="https://www.instagram.com/crljmb/") instagram
        |  | 
        a(href="https://twitter.com/crljmb") twitter
        |  |  
        a(href="https://crljmb.tumblr.com/") tumblr
        |  |  
        a(href="mailto:crljmb@outlook.com") email

    div(class="separator")
    if (pages && pages.length > 0)
      div(class="images")
        ul(class="images")
          each page in pages
            a(href= page)
              li
                img(src= page)
    div(class="separator")
    div(class="content")
      if (project.long)
        p!= project.long
      if (project.about)
        h2 About
        p Follow the story of Ona, an 18-month toddler stuck with three strangers: a talking lizard, his human sister and a space traveler.
        p Together, they embark on a road trip full of comedy, action and slice-of-life scenes across a cozy yet mysterious planet, on a journey to find the baby's home.
        p Age: 12 years and up.
        p Release schedule:
        p Issue #1: September 30th - read it 
          a(href="/files/homebound-1-web.pdf") here
        p Issue #2: October 30th
        p Issue #3-5: soon!
        div(class="separator")
        h2 Some behind the scenes
            div(class="images")
                ul(class="images")
                  each image in progress
                    a(href= image)
                      li
                        img(src= image)
      if (project.ludography)
        h2 Ludography
        each entry in project.ludography
          p= "◍ " + entry
      if (project.credits)
        div(class="separator")
        h2 Credits
        each person, role in project.credits
          h4= role
          p!= person
        h4 Proof-reading and overall support
        table(class="credits")
          tr
            td Pablo
            td Christine
            td Donna
            td Robin
          tr
            td Johanna
            td Jarien
            td Liz
            td Ali
          tr
            td Britt
            td Monica
            td Daniele
            td Elena
          tr
            td Pferv
            td Miguel
            td Joao
            td Emanuela
          tr
            td Sergio
            td Ana
            td Dan
            td UPS Dave
          tr
            td John
            td Gideon
            td Romita
            td Adj
            td and Half of Boston
